@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  background-color: #2b2b2b;
  overflow: hidden;
}
header{
  display: inline-block;
  width: 100%;
  border: 1px solid #404040;
  height: 50px;
}
header .headerone{
  float: left;
  padding: 6px;
  color: #e3e6e4;
}
header .menu{
  float: right;
  color: #e3e6e4;
  padding: 15px;
}
.menu a{
  margin: 15px;
}
main{
    width: 100%;
    height: 600px;
}
#main-a{
  width: 100%;
  height: 207px;
  text-align: center;
}
#logo{
  font-family: 'Roboto', sans-serif;
  width: 391px;
  height: 100%;
  margin: auto;
  margin-top: 64px;
  font-size: 60px;
  color: white;
  font-weight: bold;
}
#main-c{
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 50px 0 0;
}
#main-c #input-div{
  display: flex;
  width: 571px;
  height: 36px;
  border-radius: 25px;
  border: 1px solid white;
  text-align: left;
  padding: 0 0 0 10px;
  margin: auto;
}
input{
  width: 100%;
  height: 100%;
  color: white;
  border: none;
  padding-left: 2px;
}
input:focus{
  outline: none;
}
#icon-div{
  text-align: center;
  height: 100%;
  width: 44px;
  padding: 10px 0;
}
#main-e{
  width: 100%;
  height: 200px;
  font-family: 'Roboto', sans-serif;
}
#bookmarks{
  width: 700px;
  height: 100%;
  margin: auto;
}
ul{
  display: flex;
  color: white;
}
li{
  text-align: center;
  margin: auto;
  font-size: 30px;
}
li h6{
  opacity: 0.5;
  font-size: 10px;
}