*{
  padding: 0;
  margin: 0;
  background-color: #2b2b2b;
  overflow: hidden;
}
header{
  display: inline-block;
  width: 100%;
  border: 1px solid #404040;
  height: 50px;
}
header .headerone{
  float: left;
  padding: 6px;
  color: #e3e6e4;
}
header .menu{
  float: right;
  color: #e3e6e4;
  padding: 1px;
}
.menu #links{
  margin: 15px;
}
